*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}
body{
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    max-width: 900px;
    display: grid;
    grid-template-rows: 100px min-content min-content auto 50px;

    background: #192254;
    background: -moz-linear-gradient(top, #192254 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #192254 0%,#000000 100%);
    background: linear-gradient(to bottom, #192254 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192254', endColorstr='#000000',GradientType=0 );
}
header{
    position: relative;
    overflow: hidden;
    display: block;
    color: #f0f8ff;
    text-shadow:8px 8px 4px #616161;
    padding: 20px;
    background-image: url(../graphic/background.JPG);
    background-position: center bottom;
    background-size: cover;
}
header #headerTxt{
    position: absolute;
    bottom: 5px;
}
nav{
    display: block;
    background-color: #000000;
}
nav .nav-item {
    display:block;
    width: 100%;
    height: 100%;
    margin: 0px;
	-moz-box-shadow:inset 0px 0px 0px 0px #16395c;
	-webkit-box-shadow:inset 0px 0px 0px 0px #16395c;
	box-shadow:inset 0px 0px 0px 0px #16395c;
	background-color:#074b70;
	border:1px solid #000000;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2em;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0b2647;
}
.dropdown-hidden{
    display: none;
}

main{
    overflow: auto;
    background-color: #eeeeee;
    padding: 20px;
}

footer{
    overflow: hidden;
    background-color: #03061d;
    color: #f0f8ff;
    padding: 10px;
    text-align: center;
}
#offlineDiv{
    background-color: #ff0000;
    color: #eeeeee;
    text-align: center;
}
#user{
    border: 2px solid #03061d;
}
#user input{
    display: block;
    width: 100%;
    padding: 5px;
}
#user legend, #user label{
    font-weight: bold;
    font-size: 1.2em;
}
#user button{
    display: block;
    width: 100%;
    padding: 10px;
	-moz-box-shadow:inset 0px 0px 0px 0px #16395c;
	-webkit-box-shadow:inset 0px 0px 0px 0px #16395c;
	box-shadow:inset 0px 0px 0px 0px #16395c;
	background-color:#074b70;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2em;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0b2647;
}
#blogListDiv{
    display: block;
    width: 100%;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#blogListDiv .blogPost{
    position: relative;
    background-color: #b8d8f1;
    margin-top:10px;
}
#blogListDiv .blogListImageContainer{
    max-width: 300px;
    position: relative;
    margin-right: auto;
    margin-left: auto;    
}
#blogListDiv .blogListImageContainer .blogPhoto{
    display: block;
    width: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}
#blogListDiv .blogListImageContainer .avatar{
    position: absolute;
    border-radius: 50%;
    top: 4px;
    right: 4px;
}
#blogListDiv .blog-content{
    border-top: 2px solid #000000;
    padding: 5px;
}
#userListDiv .user-list-item{
    background-color: #83b3ec;
    margin: 10px;
    height: 50px;
}
#userListDiv .user-list-item .user-list-avatar{
    float: left;
    margin-right: 10px;
}
#userListDiv .user-list-item p{
    display: block;
    padding-left: 20px;
}
#newBlogPost{
    border: 2px solid #03061d;
}
#newBlogPost input, #newBlogPost textarea{
    display: block;
    width: 100%;
    padding: 5px;
}
#newBlogPost legend, #newBlogPost label{
    font-weight: bold;
    font-size: 1.2em;
}
#newBlogPost button{
    display: block;
    width: 100%;
    padding: 10px;
	-moz-box-shadow:inset 0px 0px 0px 0px #16395c;
	-webkit-box-shadow:inset 0px 0px 0px 0px #16395c;
	box-shadow:inset 0px 0px 0px 0px #16395c;
	background-color:#074b70;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2em;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #0b2647;
}
@media only screen and (min-width: 650px) {
    #blogListDiv{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    #blogListDiv .blogPost{
        position: relative;
        background-color: #b8d8f1;
        margin:10px;
    }
}